[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
[submodule "deps/json-cpp"]
	path = deps/json-cpp
	url = https://github.com/mrtazz/json-cpp.git
